/* login.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.content {
    transition: margin-left 0.5s;
    padding: 16px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Other styles */
    width: 300px; /* Adjust the width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
.user_login_hader {
    text-align: center;
    margin-bottom: 20px;
}

.input {
    width: 300px;
    margin: 0 auto;
}

.input_filed {
    margin-bottom: 15px;
}

.input_filed label {
    display: block;
    margin-bottom: 5px;
}

.input_filed input[type="text"],
.input_filed input[type="password"],
.input_filed input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input_filed input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.input_filed input[type="submit"]:hover {
    background-color: #45a049;
}





